body {
    background: #a6a6a6;
}

.container{
    background-color: #a6a6a6;
    display:flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
    align-items: center;
}
.login-form{
    background-color: rgb(255, 255, 255, 0.7);
    padding: 7px;
    width:600px;
}
label{
    flex-basis: 150px;
    margin-top: 10px;
    font-size: 20px;  
}
.login-form h1{
    margin-top:5px;
    margin-bottom: 15px;
    color:rgb(99, 192, 199);
}
.input{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;  
}
input[type="text"],
  [type="password"]{
    padding:8px;
    font-size: 18px;
}  
#submit{
    width:100%;
    font-size: 20px;
    padding: 9px;
    background-color: rgb(99, 192, 199);
    color:white;
    border:none;
    margin:20px 0;
    margin-bottom: 10px;    
}

button:hover{ 
    cursor:pointer;
    background-color: rgb(41, 196, 207);
}
  
@media all and (max-width:480px){
    .input{
        flex-direction: column;
    }
    label{
        flex-basis:0;
    }
}